<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <div class="container">
        <main class="vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">Acerca de mi</h1>
                <p>
                    Soy un joven apasionado, perseverante y determinado a mejorar constantemente. Siempre estoy explorando nuevos temas y tecnologías, ya que disfruto del desafío de ampliar mis habilidades y conocimientos. Con experiencia en diversos ámbitos laborales, me he acostumbrado a enfrentar diferentes situaciones y adaptarme con facilidad. Me encanta establecer metas desafiantes para superarme a mí mismo y encontrar soluciones creativas a los obstáculos que se presentan en el camino.
                    <br> <br>
                    Una de mis mayores satisfacciones es ayudar a los demás, ya sea brindando apoyo en sus problemas o aprendiendo de sus experiencias. Mi naturaleza sociable y mi capacidad para trabajar en equipo me permiten colaborar de manera efectiva y construir relaciones sólidas en cualquier entorno laboral. Estoy comprometido a contribuir con mi mejor esfuerzo en cada proyecto y a seguir aprendiendo y creciendo en el proceso.
                </p>
            </section>
        </main>
    
        <section>
            <h2 class="display-3 text-center">Habilidades</h2>
            <p>
                <ul>
                    <li>
                        Experiencia HTML5, CSS, SASS, responsive design, JavaScript (ES6) y
                        TypeScript.
                    </li>
                    <li>
                        React (Next y Gatsby) con Router, Helmet, Redux y Hooks como
                        useState, useEffect y Context.
                    </li>
                    <li>
                        Uso de librerías de estilo como Tailwind, MUI, Styled Components y
                        Emotion.
                    </li>
                    <li>
                        Experiencia con Node, NestJS con arquitectura Rest y GraphQL
                    </li>
                    <li>
                        Git, Gitlab y Github Atomic Design
                    </li>
                    <li>
                        Testing con Jest y React Testing Library Usuario de Linux y Vim
                    </li>
                </ul>
            </p>
        </section>
    </div>


    <%- include('partials/footer.ejs')%>
    
</body>
</html>