<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, consequatur non omnis obcaecati sed deleniti esse dignissimos, cum harum, quae ea? Sit, tempore nostrum aliquam porro placeat nobis quasi debitis rem! Quam velit laudantium aut fugit voluptatum nulla quisquam deserunt dolorem, atque aperiam eos blanditiis rerum vero dolore temporibus excepturi? Aut odit quod rem dolorum? Amet voluptatibus et eum perspiciatis! Autem in reprehenderit inventore fugiat, quos dolorem nam cupiditate id officia at quaerat aperiam tempora esse quidem soluta! Totam, dignissimos doloremque ipsum, ullam magnam dicta libero fugit veniam perferendis maiores porro obcaecati autem voluptates atque adipisci quaerat ad labore! Velit?
            </p>
        </section>
    </main>

    <%- include('partials/footer.ejs')%>
    
</body>
</html>