<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">Acerca de mi</h1>
            <p>
                Un apasionado diseñador y desarrollador web con un enfoque creativo y una habilidad innata para crear experiencias digitales impactantes. Mi objetivo es fusionar el diseño estético con la funcionalidad intuitiva, entregando soluciones web que cautiven a los usuarios y cumplan los objetivos comerciales. Con un compromiso constante con la innovación y la excelencia técnica, estoy listo para llevar tus ideas a la vida digital y crear un impacto duradero en la web.
            </p>
        </section>
    </main>

    <%- include('partials/footer.ejs')%>
    
</body>
</html>