<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>
                A passionate web designer and developer with a creative approach and an innate ability to create impactful digital experiences. My goal is to fuse aesthetic design with intuitive functionality, delivering web solutions that captivate users and meet business objectives With a constant commitment to innovation and technical excellence, I am ready to bring your ideas to digital life and create a lasting impact on the web.
            </p>
        </section>
    </main>

    <%- include('partials/footer.ejs')%>
    
</body>
</html>