<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

    <%- include('partials/navigation.ejs')%>

    <!-- main content -->
    <header class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1 class="display-1 my-5 text-uppecase fw-bold" alt="Enrique.dev">Enrique</h1>
            <a href="/about" class="btn btn-primary" alt="about">About</a>
            <a href="/curriculum" target="_blank" class="btn btn-primary mt-2" alt="curriculum">Curriculum</a>
        </div>
    </header>

    <div id="seccion-4" class="container service post_article sectionmenuus">
        <p class="tittleService" data-section="section4" data-value="title">Servicios</p>
        <div class="row  justifyCenter">
            <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                <div class="animationCard">
                    <img class="items" src="/images/item1.png" alt="desarrollo web" />
                    <p class="tittleCard" data-section="section4" data-value="tcard1">Desarrollo web</p>
                    <p data-section="section4" data-value="cardt1">Diseñamos y desarrollamos sitios y aplicaciones web a la medida de tus necesidades.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                <div class="animationCard">
                    <img class="items" src="/images/item3.png" alt="Plataformas" />
                    <p class="tittleCard" data-section="section4" data-value="tcard3">Plataformas</p>
                    <p data-section="section4" data-value="cardt3">Diseñamos, estructuramos y desarrollamos plataformas personalizadas para tu negocio.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                <div class="animationCard">
                    <img class="items" src="/images/item4.png" alt="Ecommerce" />
                    <p class="tittleCard" >Ecommerce</p>
                    <p data-section="section4" data-value="cardt4">Elevamos tu potencial en ventas por medio de e-Commerce con integración de pasarelas de pagos.</p>
                </div>
            </div>
        </div>
        <div class="row  justifyCenter">
            <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                <div class="animationCard">
                    <img class="items" src="/images/item6.png" alt="cms" />
                    <p class="tittleCard">CMS</p>
                    <p data-section="section4" data-value="cardt6">Desarrollamos sitios rápidos con WordPress y Drupal, aplicando diferentes técnicas de seguridad.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                <div class="animationCard">
                    <img class="items" src="/images/item7.png" alt="diseño web" />
                    <p class="tittleCard" data-section="section4" data-value="tcard7">Diseño web efectivo</p>
                    <p data-section="section4" data-value="cardt7">Realizamos diseño web efectivo que genera impacto en tu marca.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 contentCard">
                <div class="animationCard">
                    <img class="items" src="/images/item8.png" alt="Consultoria" />
                    <p class="tittleCard" data-section="section4" data-value="tcard8">Consultoría UX/UI</p>
                    <p data-section="section4" data-value="cardt8">Diseñamos y creamos la interfaz que tu empresa necesita, segura y fácil de usar.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="seccion-5" class="sitios post_article sectionmenuus">
        <div class="container">
            <div class="tituloSitios" data-section="section5" data-value="t1">
                Sitios web
            </div>
            <div class="row">
                <div class="col-md-4" id="chappsy">
                    <a target="_blank" href="https://chappsy.com/">
                        <div class="verSitio" data-section="section5" data-value="t2">
                            Ver sitio web
                        </div>
                        <div class="template-scroll"></div>
                    </a>
                </div>
                <div class="col-md-4" id="viajegt">
                    <a target="_blank" href="https://viajegt.com/">
                        <div class="verSitio" data-section="section5" data-value="t2">
                            Ver sitio web
                        </div>
                        <div class="template-scroll"></div>
                    </a>
                </div>
                <div class="col-md-4" id="medicentergt">
                    <a target="_blank" href="http://medicentergt.com/">
                        <div class="verSitio" data-section="section5" data-value="t2">
                            Ver sitio web
                        </div>
                        <div class="template-scroll"></div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" id="Minestle">
                    <a target="_blank" href="https://www.minestle.com/">
                        <div class="verSitio" data-section="section5" data-value="t2">
                            Ver sitio web
                        </div>
                        <div class="template-scroll"></div>
                    </a>
                </div>
                <div class="col-md-4" id="nescafe">
                    <a target="_blank" href="https://www.nescafe.com/cam/">
                        <div class="verSitio" data-section="section5" data-value="t2">
                            Ver sitio web
                        </div>
                        <div class="template-scroll"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>
    
</body>
</html>