<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('partials/head.ejs')%>
</head>
<body>

  <%- include('partials/navigation.ejs')%>

  <div class="container" >
    <h1>Not found 404</h1>
    <p>This is NOT fine</p>
    <img
      src="https://midu.dev/images/this-is-fine-404.gif"
      alt="Gif del perro de This is Fine quemándose vivo"
    />
  </div>


  <%- include('partials/footer.ejs')%>
    
</body>
</html>