<footer class="bg-dark text-center p-4">
    <p class="h-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem sequi vero laudantium nesciunt tempore vel rem cum officiis neque voluptas?</p>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>