<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="imgLogo" src="../images/developer.png" alt="Enrique.dev">
    </a>
    <div class="iconos-social">
      <div>
          <a href="https://www.linkedin.com/in/enriquearanaga" target="_blank" title="Linkedin" alt="Linkedin">
              <i class="fa-brands fa-linkedin"></i>
          </a>
      </div>
      <div>
          <a href="https://github.com/kike196" target="_blank" title="Github" alt="Github">
              <i class="fa-brands fa-github"></i>
          </a>
      </div>
      <div>
          <a href="#" target="_blank" title="Whatsapp" alt="Whatsapp">
              <i class="fa-brands fa-whatsapp"></i>
          </a>
      </div>
      <div>
          <a href="#" target="_blank" title="Telegram" alt="Telegram">
              <i class="fa-brands fa-telegram"></i>
          </a>
      </div>
      <div class="cambiar-tema">
        <button id="btn-dark" style="display: none;" type="button" class="btn icon" value="dark" onclick="cambiarTema(this.value)" alt="Day">
            <i class="fas fa-moon" alt="Day"></i>
        </button>
        <button id="btn-light" style="display: none;" type="button" class="btn icon" value="light" onclick="cambiarTema(this.value)" alt="Night">
            <i class="fas fa-sun" alt="Night"></i>
        </button>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <li id="login-link" class="nav-item" style="display: none;">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li id="dashboard-link" class="nav-item" style="display: none;">
          <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" id="loginNavItem">
          <!-- Contenido se agregará aquí dinámicamente -->
        </li>
        <li class="nav-item" id="logoutNavItem">
          <!-- Contenido se agregará aquí dinámicamente -->
        </li>
      </ul>
    </div>
  </div>
</nav> 

<script>
  // Realizar una solicitud GET al servidor para verificar el estado de autenticación del usuario
  fetch('/check-authentication')
      .then(response => response.json())
      .then(data => {
          if (data.authenticated) {
              // Si el usuario está autenticado, verificar su rol
              if (data.role === 'Admin' || data.role === 'admin') {
                  // Si es un admin, mostrar el enlace al C-panel
                  loginNavItem.innerHTML = '<a class="nav-link" href="/c-panel">C-panel</a>';
              } else {
                  // Si es otro rol (por ejemplo, user), mostrar el enlace al dashboard
                  loginNavItem.innerHTML = '<a class="nav-link" href="/dashboard">Dashboard</a>';
              }
              // Mostrar el enlace para logout
              logoutNavItem.innerHTML = '<a type="button" class="px-3 btn btn-danger" href="/logout">Logout</a>';
          } else {
              // Si el usuario no está autenticado, mostrar el enlace para login
              loginNavItem.innerHTML = '<a class="nav-link" href="/login">Login</a>';
          }
      })
      .catch(error => {
          // Manejar errores de la solicitud
          console.error('Error al verificar autenticación:', error);
      });
</script>
 
<script>
  // Función para agregar la clase activa al enlace de navegación correspondiente a la vista actual
  function marcarVistaActual() {
    // Obtiene la URL actual
    var urlActual = window.location.pathname;

    // Selecciona todos los enlaces de navegación
    var enlacesNav = document.querySelectorAll('.navbar-nav .nav-link');

    // Itera sobre los enlaces de navegación
    enlacesNav.forEach(function(enlace) {
      // Verifica si la URL del enlace coincide con la URL actual
      if (enlace.getAttribute('href') === urlActual) {
        // Agrega la clase activa al enlace correspondiente a la vista actual
        enlace.classList.add('active');
      }
    });
  }

  // Llama a la función para marcar la vista actual cuando se carga la página
  window.addEventListener('DOMContentLoaded', marcarVistaActual);
</script>


