<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="imgLogo" src="../images/developer.png" alt="Enrique.dev">
    </a>
    <div class="iconos-social">
      <div>
          <a href="https://www.linkedin.com/in/enriquearanaga" target="_blank" title="Linkedin" alt="Linkedin">
              <i class="fa-brands fa-linkedin"></i>
          </a>
      </div>
      <div>
          <a href="https://github.com/kike196" target="_blank" title="Github" alt="Github">
              <i class="fa-brands fa-github"></i>
          </a>
      </div>
      <div>
          <a href="#" target="_blank" title="Whatsapp" alt="Whatsapp">
              <i class="fa-brands fa-whatsapp"></i>
          </a>
      </div>
      <div>
          <a href="#" target="_blank" title="Telegram" alt="Telegram">
              <i class="fa-brands fa-telegram"></i>
          </a>
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav> 